{% extends 'base.html.twig' %}

{% block styles %}
    <link href="css/new.css" rel="stylesheet">
{% endblock %}

{% block header %}

{% endblock %}



{% block body %}

    <div class="container text-dark">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="main-form">
                <select class="custom-select" data-select-type="tags-list">

                    <optgroup label="Категория 1">
                        <option value="Second">Second</option>
                        <option value="Second1">Second</option>
                        <option value="Second2">Second</option>
                        <option value="Second2">Second</option>
                        <option value="Second3">Second</option>
                        <option value="Second4">Second</option>
                        <option value="Second5">Second</option>
                        <option value="Second6">Second</option>
                        <option value="Third7">Third</option>
                    </optgroup>

                    <optgroup label="Категория 2">
                        <option value="sss">Second</option>
                    </optgroup>

                </select>

                <div class="card">

                    <div class="card-body">
                        Выбранные тэги:
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}


{% block scripts %}
    <script src="js/new.js"></script>
{% endblock %}



