* {
  margin: 0;
  padding: 0;
}
/*html {*/
  /*min-height: 100%;*/

/*}*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #E6E6FA;
  color: white;
}
.main
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

span {
  color: white;
}

.nav-item {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 18px;
}

.tag {
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    right: 0;
    width: 25em;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    background: rebeccapurple;
    box-sizing: border-box;
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }

  .content-wrapper {
    margin-right: 25em;
  }

  .navbar-collapse > .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 10.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.card {
  background: #4B0082;
  margin-top: 2em;
}

.navbar {
  background: rebeccapurple;
}

.navbar-collapse > .btn {
  font-size: 20px;
}

.btn-outline-light:hover{
  color: black;
}

.modal {
  color: black;
  font-size: 16px;
}

.modal-header {
  background-color: thistle;
}

.badge > .close {

  margin-left: .25rem;
  color: inherit;
  font-size: 100%;
}

.text-muted {
  font-size: 14px;
}

.btn-delete {
  color: indianred;
}
.btn-new-tag {
  font-size: 20px;
}
.dropdown {
  display: inline-block;
}

.label_download {
  color: #4B0082;
  font-size: 18px;
}


input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: calc(2.25rem + 2px);
  height: calc(2.25rem + 2px);
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
